<h1><%= garden.name %></h1>
<p><%= garden.shortDescription %></p>
<p><%= garden.address %></p>
<p><%= garden.crossStreet %></p>
<p><%= garden.city %></p>
<p><%= garden.zipCode %></p>
<p><%= garden.neighborhood %></p>
<p><%= garden.managedBy %></p>
<p><%= garden.openHours %></p>
<p><%= garden.contactEmail %></p>
<p><%= garden.contactPhone %></p>
<p><%= garden.contactLink %></p>

<p><a href="/gardens/<%=garden.id%>/edit">Edit</a></p>
<p><a href="/gardens">&laquo; Back to list...</a></p>
